# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
*.venv
.env

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3

# Media files
media/

# Static files
staticfiles/
static/

# IDE specific files
.idea/
.vscode/
*.swp

# OS specific files
.DS_Store
Thumbs.db

# Coverage reports
.coverage
htmlcov/
